# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lib/Services/env_config.dart
build/
example/build/
android/local.properties
android/key.properties
example/android/.gradle

#
**/ios/Flutter/tmp.xcconfig

# FVM Version Cache
.fvm/

# Exclude Kotlin-related files in Android
/android/.kotlin/

# -----------------------------
# iOS / Xcode
# -----------------------------

# Xcode build output
ios/build/
ios/DerivedData/

# Flutter ephemeral iOS files
ios/Flutter/ephemeral/

# Xcode workspace local user data
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

# Xcode Shared data (user-specific)
ios/Runner.xcodeproj/xcshareddata/
ios/Runner.xcworkspace/xcshareddata/

# Xcode temp files
ios/Flutter/tmp.xcconfig
ios/Flutter/flutter_export_environment.sh

# iOS Pod-related files
ios/Pods/

# SwiftPM build stuff (Xcode 12+)
ios/.swiftpm/
ios/.build/

*.lock
*.orig